@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00abf0;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}



/* General Styling */
.gap-3{
    gap: 3rem;
}
h1{
    font-size: 3rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}
.margin-top{
    margin-top: 25px;
}
.margin-small{
    margin-top: 15px;
}

.normal-weight{
    font-weight: 400;
}





.logo{
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    color: var(--main-color);
    transform: scale(1.1);
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 2.5% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(70, 70, 70, 0.3);
}
.nav-list{
    display: flex;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
.nav-list a:hover{
    color: var(--main-color);
}

/* Home Section */

.hero-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text-container span{
    color: var(--main-color);
}
.text-container a{
    display: inline-block;
    margin-top: 15px;
    color: var(--main-color);
    font-weight: 500;
    cursor: pointer;
}
.hero-image img{
    width: 350px;
    height: auto;
}

/* About Section */
.about-section{
    padding: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00abf0;
}
.about-section p{
    max-width: 1000px;
    margin-top: 10px;
}